body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.card {
  width: 380px;
  padding: 32px;
  border-radius: 18px;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(14px);
  box-shadow: 0 30px 60px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  gap: 14px;
}

h1 {
  text-align: center;
  margin: 0px;
}

p {
  text-align: center;
  opacity: 0.8;
  margin-bottom:0 0 24px 0;
}

input, select, button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  box-sizing: border-box;
}

input {
  background: rgba(255,255,255,0.1);
  color: #fff;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


button {
  background: #00c896;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background: #00e0a8;
}

.result {
  margin-top: 8px;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
}